/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing all components file */
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");

/* General for fonts and colors */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

.text-center {auto
  text-align: center;
}
