.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://wallpapertag.com/wallpaper/full/c/7/a/410010-star-wars-darth-vader-wallpaper-1920x1080-images.jpg');
  background-size: cover;
  padding: 100px 0;
}

.container-banner {
  color: white;
  font-size: 25px;
  padding: 40px;
  text-align: center;
  padding-top: 68px;
}

.container-banner p {
    font-size: 2em;
    padding-bottom: 50px;
    padding-top: 20px;
}

.btn-banner {
  text-decoration: none;
  color: white;
  background-color: #b6b6c1;
  padding: 15px 25px;
  border-radius: 10px;
  opacity: 0.8;
}


